html,body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Josefin Slab', serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 24px;
}
h4{}
p{
    font-size: 20px;
    line-height: 34px;
}
.page-content{
    width: 100%;
    min-height: 100%;
    display: table;
    vertical-align: middle;
}
.page-inner{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: inherit;
    font-size: 100px;
}
.color1{background: #d9e8e3}
.color2{background: #8acbc7}
.color3{background: #e7c9c1}
.color4{background: #fcad84}
.color5{background: #3c2e3d}
.page1-para{
    padding: 0 15%;
}
.fleft{
    float: left;
    text-align: right;
}
.fright{
    float: right;
    text-align: left;
}
ul.feature{
    padding: 0;
    margin: 0;
    width: 49.9%;
}
ul.feature li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding-bottom: 10px;
}
.fleft li{
    padding-right: 25px;
}
.fright li{
    padding-left: 25px;
}
.pre-container{
    width: 70%;
    margin-left: 15%;
}
@media(max-width:767px){
    .pre-container{
        width: 290px !important;
        overflow: hidden;
        margin:0 auto;
    }   
    :not(pre) > code[class*="language-"], pre[class*="language-"]{
        width: 285px;
    }
    .hide768{
        display: none;
    }
    h1{
        font-size: 46px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 18px;
    }
    h4{}
    p{
        font-size: 14px;
        line-height: 20px;
    }
}
code.language-html,
pre.language-html{
     padding: 0 10px !important;
     margin: 0 !important;
}
pre {
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
a.github-link {
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid #fff;
    padding: 20px 40px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}
small{
    margin-top: 30px;
    font-size: 12px;
    display: block;
    text-align: center;
}
a.anclink{
    margin: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    color: #98c2b4;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
}